// Colors
$light: #EFEFED;
$medium: #B8BDB9;
$dark: #4D4F51;

body{
	background-color: $light;
	font-family: 'Roboto', sans-serif;
	width: 100%;
	height: 100%;

	overflow-x: hidden; // disables horizontal scroll
}

h1{
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 38px;
}

p, span, li{
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	line-height: 1.6em;
	color: $dark;
}

ul{
	padding-left: 1em;
}

a{
	text-decoration: none;
	color: $medium;
	transition: color 0.25s ease;

	&:hover{
		color: $dark;
	}
}

// Colors
.light{
	color: $light;
}
.medium{
	color: $medium;
}
.dark{
	color: $dark;
}

.container{
	@include container;

	@include breakpoint($break-md-max){
		max-width: 768px;
		overflow: hidden;
		padding-right: gutter(12);
		padding-left: gutter(12);
	}

	@include breakpoint($break-sm-max){
		padding-right: gutter(12) * 2;
		padding-left: gutter(12) * 2;
	}
}

.row{
	@include span(12);
	clear: both;
}