@import 'node_modules/susy/sass/susy';
@import 'node_modules/breakpoint-sass/stylesheets/breakpoint';

@import 'normalize';
@import 'grid';
@import 'global';

// Highlighting the menu
#how-to-play #how-to-play,
#buy #buy{
	a{
		color: $dark;
	}
}

header{
	.container{
		padding-top: 38px;

		@include breakpoint($break-sm-max){
			padding-top: 20px;
		}

		a{
			display: inline-block;

			.logo{
				width: 269px;
				height: 71px;
				pointer-events: none;
			}
		}
		
		ul.menu{
			float: right;
			list-style: none;

			@include breakpoint($break-sm-max){
				float: none;
				display: block;
				padding: 0;
			}

			li{
				display: inline;
				margin-left: 20px;
				font-size: 23px;
				color: $medium;
				font-family: 'Lato', sans-serif;

				@include breakpoint($break-sm-max){
					margin-left: 0;
					margin-right: 20px;
				}
			}
		}
	}
}

#headings{
	padding: gutter(12);

	.heading{
		@include span(6);

		@include breakpoint($break-md-max){
			@include span(12);
		}
	}	
}

#cards{
	position: relative;
	padding-bottom: 80px;

	.section{
		@include span(6 nest);
		
		&:nth-child(2n) {
			@include span(6 nest last);
		}

		@include breakpoint($break-md-max){
			@include span(12);
			margin-bottom: 10px;

			&:nth-child(2n) {
				@include span(12);
			}
		}

		h1{
			@include span(12);

			@include breakpoint($break-md-max){
				margin: 20px 0 10px 0;
			}

			@include breakpoint($break-sm-max){
				margin: 10px 0 10px 0;
			}
		}

		.card{
			@include span(3 of 6);

			&:nth-child(2n) {
				@include span(3 of 6 last);
			}

			padding: 22px;
			height: 324px;
			border-radius: 18px;
			font-size: 24px;
			font-weight: 900;
			background-color: $medium;
			color: $dark;

			&.situation{
				background-color: $dark;
				color: $medium;
			}

			@include breakpoint($break-md-max){
				@include span(6 of 12);

				&:nth-child(2n) {
					@include span(6 of 12 last);
				}
				height: 200px;
				margin-bottom: gutter(6);
				display: table;

				.text{
					display: table-cell;
					text-align: center;
					vertical-align: middle;
				}
			}

			@include breakpoint($break-sm-max){
				@include span(12);

				&:nth-child(2n) {
					@include span(12);
				}
				height: 40vw;
			}
		}
	}
}

#how-to-play{
	.content{
		margin-top: 20px;
	}		
}

#buy{
	.content{
		margin-top: 20px;
		margin-bottom: 40px;

		.description{
			margin-bottom: 80px;
		}

		.affiliate{
			text-align: center;

			a{
				color: $dark;
				font-size: 20px;
				font-weight: 900;
				transition: all 0.25s ease;

				img{
					margin-bottom: 10px;
					border: 10px solid $medium;
					transition: border 0.25s ease;
				}

				&:hover{
					img{
						border: 10px solid $dark;
					}
				}
			}

			
		}
	}
}

footer{
	position: fixed;
	display: table;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 60px;
	background-color: $dark;
	color: $medium;
	text-align: center;
	border-top: 1px solid rgba(255,255,255,0.1);

	.container{
		display: table-cell;
		vertical-align: middle;

		a{
			cursor: pointer;
			padding: 4px 20px;
			font-size: 36px;
			font-weight: 900;

			&:hover{
				color: $light;
			}
		}
	}
}