@import 'node_modules/susy/sass/susy';
@import 'node_modules/breakpoint-sass/stylesheets/breakpoint';

@import 'normalize';
@import 'global';
@import 'grid';

header{
	.container{
		.logo{
			width: 269px;
			height: 71px;
		}
	}
}

#cards{
	
}

footer{
	position: fixed;
	display: table;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 60px;
	background-color: $dark;
	color: $medium;
	text-align: center;

	.container{
		display: table-cell;
		vertical-align: middle;

		a{
			cursor: pointer;
			padding: 4px;
			font-size: 36px;
			font-weight: 900;
		}
	}
}