<header>
	<div class="container">
		<div class="row">
			<a href="/">
				<object data="assets/images/logo.svg" class="logo" type="image/svg+xml">
					<div>No SVG Support</div>
				</object>
			</a>

			<ul class="menu">
				<li><a href="/how-to-play.html">how to play</a></li>
				<li><a href="/buy.html">buy</a></li>
			</ul>
		</div>
	</div>
</header>