<!DOCTYPE html>
<html>
<head>
	<title>StoryTime | how to play</title>
	<% include partials/head %>
</head>
<body>
	<% include partials/header %>

	<section id="how-to-play" class="container">
		How to play.
	</section>
</body>
</html>