<!DOCTYPE html>
<html>
<head>
	<title>StoryTime | how to play</title>
	<% include partials/head %>
</head>
<body>
	<% include partials/header %>

	<section id="how-to-play" class="container">
		<div class="row">
			<div class="content">
				<p>The instructions to this game could not be easier.</p>
			</div>
		</div>
	</section>
</body>
</html>