<!DOCTYPE html>
<html>
<head>
	<title>StoryTime | how to play</title>
	<% include partials/head %>
</head>
<body id="how-to-play">
	<% include partials/header %>

	<section class="container">
		<div class="row">
			<div class="content">
				<p>The instructions to this game couldn't be simpler. The character cards describe your main character. The element cards give you story elements. Now, tell your story. You can do it alone, late at night after everybody has gone to bed, or sitting with friends around a fire. Write it, draw it, speak it. Whatever it takes to get the story out.</p>
				<span><b>Just a couple loose suggestions:</b></span>
				<ul>
					<li>Don't kill your main character. Unless you've got a great creative reason, it's just too easy to end your story by killing off your main character. </li>
					<li>Your main character should change somehow, through the course of the story. This can be a transformation resulting from the story's event's or an inner journey. Look for your character's arc.</li>
				</ul>
			</div>
		</div>
	</section>
</body>
</html>