<!DOCTYPE html>
<html>
<head>
	<title>Hello World</title>
	<link rel="stylesheet" type="text/css" href="styles/app.css">
</head>
<body>
	<% include partials/header %>

	<div id="cards" class="container">
		<div class="heading character">
			<h1>the Character</h1>
		</div>
		<div class="heading situation">
			<h1>the Situation</h1>
		</div>
	</div>
	
	<footer>
		<div class="container">
			<a id="regenerate">start anew</a>
		</div>
	</footer>

	<script type="text/javascript" src="./scripts/app.js"></script>
</body>
</html>