<!DOCTYPE html>
<html>
<head>
	<title>StoryTime</title>
	<link rel="stylesheet" type="text/css" href="styles/app.css">
	<link href='https://fonts.googleapis.com/css?family=Roboto:900|Lato:300,400' rel='stylesheet' type='text/css'>
</head>
<body>
	<% include partials/header %>

	<section id="headings" class="container">
		<div class="heading character">
			<h1 class="lato medium">the Character</h1>
		</div>
		<div class="heading situation">
			<h1 class="lato dark">the Situation</h1>
		</div>
	</section>

	<section id="cards" class="container">
		<!-- Content rendered by React -->
	</section>
	
	<footer>
		<div class="container">
			<a id="regenerate">start anew</a>
		</div>
	</footer>

	<script type="text/javascript" src="./scripts/app.js"></script>
</body>
</html>