<!DOCTYPE html>
<html>
<head>
	<title>StoryTime</title>
	<% include partials/head %>
</head>
<body>
	<% include partials/header %>

	<section id="cards" class="container">
		<!-- Content rendered by React -->
	</section>
	
	<footer>
		<div class="container">
			<a id="regenerate">start anew</a>
		</div>
	</footer>

	<script type="text/javascript" src="./scripts/app.js"></script>
</body>
</html>