<!DOCTYPE html>
<html>
<head>
	<% include partials/head %>
	
	<title>StoryTime | A story idea generator for writers, teachers, artists, and all manner of creative individuals</title>
	
	<meta name="description" content="A fun, simple game that is sure to get your creative story ideas flowing. Whether you're a writer, teacher, artist, or any kind of creative, StoryTime will help draw out your story. StoryTime will give you your main character, and a couple of story elements, you've got the rest." />

	<meta name="keywords" content="story, generator, plot, story generator, plot generator, random, game, prompt, writing, creative, class, teacher">
</head>
<body id="home">
	<% include partials/header %>

	<section id="cards" class="container">
		<!-- Content rendered by React -->
	</section>
	
	<footer>
		<div class="container">
			<a id="regenerate">start anew</a>
		</div>
	</footer>

	<script type="text/javascript" src="./scripts/app.js"></script>
</body>
</html>